body {
    font-family: "Lucida Console", monospace;
    background: #a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.text {
    text-align: center;
    transform: translateY(-250px);
}

.text p {
    margin: 20px 0;
    margin-bottom: 50px;
}

img.avatar {
    width: 100%;
    max-width: 275px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

a {
    text-decoration: none;
    margin: 0 8px;
}

a:hover {
    color: #ffffffff;
    text-decoration: none;
    font-weight: bold;
}
